* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    font-weight: 300;
}
h2 .color-text {
   color:#1ac056;
    font-weight: bold;
}
section {
    padding: 0 80px 100px;
    width: 100%;
}

section > h2 {
    font-size: 30px;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 35px;
    text-align:center;
}

figure img {
    text-align: center;
    border-radius: 15px;
    max-height: 350px;
    max-width: 100%;
}

#main-nav {
    position: fixed;
    width: 100%;
    text-align: right;
    padding-right: 30px;
    top: 0;
}
.menu-list li {
    display: inline-block;
    background-color: #fff;
    color: #1ac056;
    font-weight: 300px;
    margin-right: 30px;
}

ul.menu-list li a {
    text-decoration: none;
}

ul.menu-list li a:hover {
    color: #291f1a;
}

/* Header styles */
#main-header {
    background-image: url("../img/header-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

.main-header-content {
    padding: 30vh;
}

#about {
    background-color: #f9fcfe;
    
}

.img-about {
    width: 50%;
    margin: 0px;
}

.about-text {
    width: 50%
}

.img-about,
.about-text {
    float: left;
}
#skills {
    overflow: hidden;
    text-align: center;
}
#skills-icons figure {
    display: inline-block;
   }
#skills-icons {
     text-align:center;

}